<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>物联网管理平台</title>
    <style>
      html,body,p,ul,ol,li,h1,h2,h3,h4,h5,h6,a {
        padding: 0;
        margin: 0;
      }
      ul,ol {
        list-style: none;
      }
      #app {
        height: 100%;
        background-color: rgb(236, 236, 236);
      }
    </style>
  </head>
  <body>
    <div id="app"></div>
    <script type="module" src="/src/main.js"></script>
  </body>
</html>
